$header-bg:#181818;

$section-bg: #5c3d9c;
$section-bg-second:  #2e4053 ;


$letter-a-color: #08fdd8;
$letter-n-color: #ff0a56;

$icon-hover-bg: #ed5181;
$icon-a-hover-bg: #f56b5e;

$header-font: "Oswald", sans-serif;
