.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #181a1b;
}

.container-fluid {
  padding: 0;
}

footer {
  background-color: #181818;
  color: #fff;
  margin-bottom: 0;
  padding: 15px;
}

footer>p {
  margin-bottom: 0;
}

footer>hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

footer>h5>i {
  font-size: 2rem;
}

nav.navbar {
  font-size: 24px;
  padding: 0 1rem;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.nav-item:hover {
  background-color: #000;
  color: #fff;
}


header#header {
  height: 100vh;
  background-color: #282c34;
  background-image: linear-gradient(to top left, rgb(58, 37, 112), rgb(65, 37, 110), rgb(72, 36, 109), rgb(78, 36, 107), rgb(85, 35, 105), rgb(92, 35, 103), rgb(99, 34, 102), rgb(106, 34, 100), rgb(113, 33, 98), rgb(119, 33, 96), rgb(126, 32, 95), rgb(133, 32, 93));
  z-index: 0;
  font-size: 5rem;
  font-family:"Oswald",
  sans-serif;
}


span#letter-a {
  /*color: #08fdd8;*/
  color: black;
}

span#letter-n {
  color: black;
}


span.first-letter {
  font-size: 1.5em;
}

.container-fluid {
  padding: 0;
}

a.social-icons {
  font-size: 20px;
  text-decoration: none;
  margin-left: 0.5rem;
}

.navbar-text {
  float: right;
}

.social-icons:hover {
  text-decoration: none;
}


@media (max-width: 1200px) {
  header#header {
    font-size: calc(1.8rem + 4.2666666667vw);
  }
}

header>#header-content {
  position: relative;
  top: 40%;
  background-color: transparent;
  color: #fff;
  border: 10px solid #fff;
  border-radius: 0;
  width: 50%;
  margin: auto;
  font-weight: bold;
  padding: 5px;
  font-family: "Oswald",
  sans-serif;
  z-index: 1;
  /*display: none;*/
}


section.content {
  z-index: 1;
  background-color: #5c3d9c;
  margin: 0;
  padding: 5%;
  text-align: center;
  border-radius: 0;
  border: none;
}

section.card {
  background-color: #181a1b;
  color: #fff;
}

section#sectionOne {
  font-family: "Oswald",
  sans-serif;
}

div#whoAmIContent {
  color: white;

  padding: 10px;
  font-family: 'Quicksand', sans-serif;
}

div#whoAmIContent>p {
  font-size: 18px;
}


section#WhoAmI {
  padding: 0;
}

#about-me-card {
  background-color: transparent;
  border:none;
  font-weight: bold;
  font-size: 1.2em;
}

.row {
  margin: 0;
}

.col-lg-6 {
  padding: 0;
}

img.img-fluid {
  width: 100%;
  height: auto;
  overflow: auto;
}

section#competences {
  background-color: #2e4053;
  background-image: linear-gradient(to bottom left, rgb(58, 37, 112), rgb(55, 44, 112), rgb(53, 51, 113), rgb(50, 58, 113), rgb(47, 65, 114), rgb(45, 72, 114), rgb(42, 78, 115), rgb(40, 85, 115), rgb(37, 92, 116), rgb(34, 99, 116), rgb(32, 106, 117), rgb(29, 113, 117));
}
section#competences div.card {
  color: #fff;
  margin: 10px;

}

div.skill-card > .card {
  background-color: #181a1b;
  color: #fff;
}

div.progress {
  background-color: #1e2022;
}

.contact-icons {
  font-size: 5rem;
  color: #fff;
}

div#contact-list {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

div#contact-list p a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

div#contact-list p a:hover {
  color: #f56b5e;
  text-decoration: underline;
}

div#contact-list h5 a i {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

div#contact-list h5 a i:hover {
  color: #ed5181;
}


section#personalSection {
  background-color: #ff0a56;
  font-family: "Oswald",
  sans-serif;
}

section#personalSection,
section#personalSection>p>a {
  color: white;
}

@media screen and (max-width: 990) {
  section#competences div.card {
    margin: 10px;
  }
}

@media screen and (max-width: 700px) {
  header>#header-content {
    width: 100%;
  }

}

@media screen and (max-width: 576px) {
  div.card {
    margin-top: 10px;
  }
}
